<% provide(:title, 'New Hashtag') %>

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

      <div class="card blue">
          <h2>New collection</h2>
          <%= render :partial => 'form' %>  
      </div>

    </div>
</div>
