<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="https://github.com/m3libea/InstaCollection" target="_blank"><i class="glyphicon glyphicon-flash"></i> Source Code</a></p>
    <p class="text-muted">Brought to you with <i class="glyphicon glyphicon-heart"></i> by <a href="https://github.com/m3libea" target="_blank">Rocio Romero</a>.</p>
  </div>
</footer>
